body{
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    color: #090;

}
#ircLogoAscii{
  width: 40%;
  margin: auto;
  font-size: 1em;
  text-align: center;
}
#textContainer{
    width: 80%;
    margin: auto;
}
#welcomeMessage{
    text-align: center;
    font-size: 1em;
}
 
  
  