<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <!-- HEADER -->
    <%- include("../partials/header") %>
    <div class="container">
      <div class="heading">
        <h2>Login</h2>
      </div>
      <%- include("../partials/message") %>
      <form action="/login" method="POST">
        <input
          type="text"
          name="username"
          placeholder="Username (Registration No.)"
        />
        <input type="password" name="password" placeholder="Password" />
        <button class="btn" type="submit">Login</button>
      </form>

      <div class="other">
        <p>Do not have an account?</p>
        <a href="/register">Register</a>
      </div>
    </div>
  </body>
</html>
