<header>
  <nav class="navbar">
    <div class="brand">
      <div class="brand-logo">
        <img src="/images/logo.svg" class="brand-logo" alt="" />
      </div>
      <h2 class="brand-title">Blog App</h2>
    </div>

    <ul class="nav-links">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="/blogs">Blogs</a></li>
      <li class="nav-item"><a href="/blogs/new">New Blog</a></li>
    </ul>
  </nav>
</header>
