<% if(success && success.length > 0) { %>
<div class="msg-box success">
  <p><%= success %></p>
</div>
<% } %> <% if(error && error.length > 0) { %>
<div class="msg-box error"">
  <p><%= error %>
</p>
</div>
<% } %>
